
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fundo{
    width: 100vw;
    height: 100vh;
}
.tela-login{
    width: 100vw;
    height: 60vh;
    background: #002D70;
    display: flex;
}
.img-logo1{
    position: fixed;
    width: 4rem;
}
.image{
    position: relative;
    width: 50%;
    height: 100%;
    background: #002D70;
    z-index: 1;
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
    
}
.fundo nav{
    position: fixed;
    padding-left: 4rem;
}
.logo-livrese{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-livrese img{
    width: 337px;
    height: 337px;
}

.form {
    position: relative;
    width: 50%;
    height: 100%;
    margin-top: 40px;
    background: #002D70;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.form-fundo h5{
    margin: auto;
}
.form-fundo span{
    margin: auto;
    color: black;
    font-size: 10pt;
}
.form-fundo{
    width: 360px;
    height: 75%;
    border-radius: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.inputs-cadastre input{
    background: transparent;
    width: 100%;
    height: 45px;
    outline: 0;
    color: #5F5E5E;
    border: 1pt solid #939393;
    border-radius: 5px;
    padding: 1rem;
    font-size: 17px;
    margin-left: 40px;
    margin-right: 40px;
}
.inputs-cadastre{
    display: flex;
    margin-top: 5px;
    align-items: center;
    color: gray;
    padding: 3px;
    width: 98%;
    height: 50px;
    background: transparent;
    border-radius: 5px;
}
.btn-cadastre{
    width: 8rem;
    border: none;
    margin-top: 0.4rem;
    margin-left: 9rem;
    padding: 0.5rem;
    border-radius: 7px;
    background: #F58037;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    color: white;
}
.footer-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    height: 23rem;
    background: #001d49;
    position: fixed;
}
.footer-item{
    display: flex;
    gap: 1rem;
}
.item-3{
    background: green;
    color: wheat;
}

.item-3-f{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-3-i{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-3-t{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-footer{
    color: white;
}
