.body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}
.contaneir{
    border-radius: 10px;
    display: flex;
    background-color: #1a1a1d;
    width: 90%;
    height: 90vh;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 15px 20px rgba(0, 0, 0, 0.2);
}
.title{
    color: white;
    display: block;
    flex-direction: column;
}
.img-icon{
    margin-top: 12px;
    margin-left: 120px;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 30px;
}
.form{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form-header{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}
.input-box{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-bottom: 1.1rem;
}
.input-box input{
    margin: 0.6rem 1rem;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    outline-width: 0;
}
.input-box label{
    color: white;
    margin-left: 1rem;
}
.input-box input::placeholder{
    color: rgb(71, 71, 71);
    font-size: 8pt;
    font-weight: bold;
}
.btn-cadastrar button{
    width: 73%;
    margin-left: 90px;
    border: none;
    background: orange;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}
.btn-cadastrar a{
    text-decoration: none;
    color: white;
}
.text{
    margin-top: 1rem;
}