
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fundo{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(110.66deg, rgba(245, 128, 55, 0.4) 35.6%, rgba(0, 45, 112, 0.4) 74.54%, rgba(0, 45, 112, 0.4) 77.04%);
    background-blend-mode: multiply;
}
.tela-login{
    width: 100vw;
    height: 60vh;
    background: #033988;
    display: flex;
}
.img-logo1{
    width: 7%;
}
.image{
    width: 50%;
    height: 100%;
    background: red;
}
.form {
    width: 50%;
    height: 100%;
    background: green;
}
.footer-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    height: 25vh;
    background: #002D70;
}
.footer-item{
    display: flex;
    gap: 1rem;
}
.item-3{
    background: green;
    color: wheat;
}

.item-3-f{
    width: 30px;
    height: 30px;
    background: green;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-3-i{
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-3-t{
    width: 30px;
    height: 30px;
    background: yellow;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-footer{
    color: wheat;
}