.navig{
list-style: none;
gap: 2rem;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
text-decoration: none;
}
.navig a{
    text-decoration: none;
}
.perfil-fundo{
    width: 100vw;
    height: 100vh;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.perfil{
    width: 60rem;
    height: 80%;
    background: lightcoral;
    border-radius: 18px;
    display: flex;
    justify-content: center;
}
.perfil img{
    width: 60.5rem;
    height: 30rem;
    position: fixed;
    z-index: 1;
}
.topo{
    width: 54rem;
    margin-top: 2rem;
    height: 50px;
    color: white;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 40rem;
    /* top: 1rem;
    right: 26rem; */
}
.topo p{
    margin-top: 0.7rem;
}
.items-topo{
    width: 50px;
    height: 50px;
    background: #FDB346;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.items-topo img{
    margin-top: 0.3rem;
    width: 28px;
    height: 28px;

}
.topo-2{
    display: flex;
    gap: 1rem;
}