.up-section{
    margin: 5px;
    background: white;
    padding: 10px 20px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #1c2237;
    color: #1c2237;
    cursor: pointer;
    white-space: nowrap;
}
.up-section:hover {
    border: 1px solid white;
    background-color: #1c2237;
    color: white;
}