.in-section{
    margin: 5px;
    background: #d3650b;
    padding: 18px 20px;
    border-radius: 14px;
    outline: none;
    border: 1px solid #d3650b;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
}
.in-section:hover {
    border: 1px solid white;
    background-color: #1c2237;
    color: white;
}