.container-parcerias{
    width: 100%;
    height: 80vh;
    background: yellow;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box-1{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: chartreuse;
  margin-top: 5rem;
}
.box-2{
  width: 100%;
  height: 80%;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.box-item{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: chocolate;
  display: flex;
  align-items: center;
  justify-content: center;
}
