*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    list-style: none;
    text-decoration: none;
}
.home{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10%;
}

.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--orange);
    margin-bottom: 1rem;
}

.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 4rem;
}
.btn-teste{
    padding: 15px;
    cursor: pointer;
    background: orange;
    border: none;
    border-radius: 12px;
}