@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

.desktop-grid {
  display: grid;
  grid-template-columns: 224px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}